@page "{Id:long}"
@model ArticleDetailsModel
@{
    ViewData["Title"] = "ArticleDetails";
}

<main class="post blog-post col-lg-12">
    <div class="container">
      <p>in safhe tozihat ast</p>
    </div>
</main>